<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtst.dhjc.repository.AlarmMapper">

    <select id="alarmList" resultType="com.rtst.dhjc.entity.Alarm">
        select warn_Id,warn_DateTime,warn_Content,organizationId,warn_SIG_Code
              from c_alarm
                  where warn_DateTime between #{startTime} and #{endTime}
    </select>
</mapper>
