<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtst.dhjc.repository.ParameterMapper">
    <update id="updateParameter" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" separator=";" close="">
            UPDATE C_Signal set
                SIG_State = #{item.sIG_State}
            where SIG_ID= #{item.sIG_ID}
        </foreach>
    </update>

    <select id="parameterList" resultType="com.rtst.dhjc.entity.Signal">
         select SIG_ID,SIG_Code ,SIG_Name,SIG_Unit,SIG_Type,SIG_FAC_ID,SIG_Address,SIG_AddressNum, SIG_DataType,SIG_State
                        from C_Signal
    </select>
    <select id="findParameterByState" parameterType="com.rtst.dhjc.entity.Signal" resultType="integer" >
        select count(*)  from C_Signal
                        where SIG_State = 1 and flag = #{flag}
    </select>
    <select id="findParameterByUnit" resultType="java.lang.Integer">
        select count(*)  from C_Signal
        where SIG_State = 1 and flag = #{flag}
        <if test="sigUnit!=null and ''!=sigUnit">
            and SIG_Unit = #{sigUnit}
        </if>
        <if test="typeFlag!=null and ''!=typeFlag">
            and typeFlag between 1 and 4
        </if>
    </select>
</mapper>
