<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtst.dhjc.repository.systemInfo.RoleMapper">
    <insert id="addRole" parameterType="com.rtst.dhjc.entity.systemInfo.Role">
        insert into sys_role(role,description,available) values(#{role},#{description},#{available})
    </insert>
    <insert id="addUserRole" parameterType="com.rtst.dhjc.entity.systemInfo.UserRole">
        insert into sys_user_role(
            <if test="null!=roleId and ''!=roleId">roleId,</if>
            userId)
            values(
            <if test="null!=roleId and ''!=roleId">#{roleId},</if>
            #{userId})
    </insert>
    <update id="updateRole" parameterType="com.rtst.dhjc.entity.systemInfo.Role">
        update sys_role
          <trim prefix="set" suffixOverrides=",">
              <if test="null!=role and ''!=role">role=#{role},</if>
              <if test="null!=description and ''!=description">description=#{description},</if>
              <if test="null!=available and ''!=available">available=#{available},</if>
          </trim>
        where roleId =#{roleId}
    </update>
    <update id="updateUserRole" parameterType="com.rtst.dhjc.entity.systemInfo.UserRole">
        update sys_user_role set roleId = #{roleId}
              where userId = #{userId}
    </update>
    <delete id="delRole" parameterType="com.rtst.dhjc.entity.systemInfo.Role">
        delete from sys_role
                where roleId = #{roleId}
    </delete>
    <select id="findRoleByUserId" parameterType="Integer" resultType="com.rtst.dhjc.entity.systemInfo.Role">
        select u.userId userId,u.userName userName,u.expiredDate expiredDate,u.state state,u.schoolId,r.roleId roleId,r.role role,r.available available
                from sys_role r
                left join sys_user_role ur on ur.roleId = r.RoleId
                left join sys_userinfo u on u.userId = ur.userId
                where u.userId = #{userId}
    </select>
    <select id="roleList" resultType="com.rtst.dhjc.entity.systemInfo.Role">
        select roleId,available,description,role
              from sys_role
    </select>
</mapper>
