<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtst.dhjc.repository.SchoolMapper">
    <insert id="addSchool" parameterType="com.rtst.dhjc.entity.SchoolInfo">
        insert into C_SchoolInfor(schoolName,belongArea,location,lngAndLat) values (#{schoolName},#{belongArea},#{location},#{lngAndLat})
    </insert>
    <update id="updateSchool" parameterType="com.rtst.dhjc.entity.SchoolInfo">
        update C_SchoolInfor
        <trim prefix="set" suffixOverrides=",">
            <if test="null!=schoolName and ''!=schoolName">schoolName=#{schoolName},</if>
            <if test="null!=belongArea and ''!=belongArea">belongArea=#{belongArea},</if>
            <if test="null!=location and ''!=location">location=#{location},</if>
            <if test="null!=lngAndLat and ''!=lngAndLat">lngAndLat=#{lngAndLat},</if>
        </trim>
        where id = #{id}
    </update>
    <delete id="deleteSchool">
        delete from C_SchoolInfor where id = #{id}
    </delete>

    <select id="findSchool" parameterType="com.rtst.dhjc.entity.SchoolInfo" resultType="com.rtst.dhjc.entity.SchoolInfo">
        select id,schoolName,belongArea,location,lngAndLat
                from C_SchoolInfor
                where 1=1
                <if test="null!=belongArea and ''!=belongArea">
                    and belongArea = #{belongArea}
                </if>
    </select>
</mapper>
