<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtst.dhjc.repository.SiteMapper">

    <select id="findSiteByOrganizationId" parameterType="com.rtst.dhjc.entity.SiteInfo" resultType="com.rtst.dhjc.entity.SiteInfo">
        select e.organizationId,e.siteId,e.siteName,s.organizationName from c_site e
                  left join c_organization s on e.organizationId=s.id
                  where e.organizationId = #{organizationId}
    </select>
    <insert id="addSite" parameterType="com.rtst.dhjc.entity.SiteInfo">
        insert into c_site(organizationId,siteName) values (#{organizationId},#{siteName})
    </insert>
    <delete id="deleteSite" parameterType="com.rtst.dhjc.entity.SiteInfo">
        delete from c_site where siteId = #{siteId}
    </delete>
    <delete id="deleteSiteByOrganizationId" parameterType="com.rtst.dhjc.entity.SiteInfo">
        delete from c_site where organizationId = #{organizationId}
    </delete>
</mapper>
