<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtst.dhjc.repository.systemInfo.UserMapper">
    <sql id="allcolumn">
       userId,userName,passWord,organizationId,state,expiredDate,createTime
    </sql>
    <insert id="addUser" parameterType="com.rtst.dhjc.entity.systemInfo.User" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_userinfo(userName,passWord,organizationId,state,expiredDate,createTime,email)
              values(#{userName},#{passWord},#{organizationId},#{state},#{expiredDate},#{createTime},#{email})
    </insert>
    <update id="updateUser" parameterType="com.rtst.dhjc.entity.systemInfo.User">
        update sys_userinfo
        <trim prefix="set" suffixOverrides=",">
            <if test="null!=userName and ''!=userName">userName=#{userName},</if>
            <if test="null!=passWord and ''!=passWord">passWord=#{passWord},</if>
            <if test="state>=0 and null!=state">state=#{state},</if>
            <if test="null!=organizationId and ''!=organizationId">organizationId=#{organizationId},</if>
            <if test="null!=email and ''!=email">email=#{email}</if>
            <if test="null!=expiredDate and ''!=expiredDate">expiredDate=#{expiredDate}</if>
        </trim>
        where userId= #{userId}
    </update>
    <delete id="deleteUser" parameterType="integer">
        delete from sys_userinfo where userId = #{userId}
    </delete>

    <select id="findUserByAccount"  parameterType="java.util.HashMap" resultType="com.rtst.dhjc.entity.systemInfo.User">
        select <include refid="allcolumn"/>
              from sys_userinfo
              where userName = #{userName}
    </select>
    <select id="findUserList" resultType="com.rtst.dhjc.entity.systemInfo.User">
        select userId,userName,organizationId,state,expiredDate,createTime
                from sys_userinfo
    </select>
    <select id="findUserByOrganizationId" resultType="java.lang.Integer">
        select count(*) from sys_userinfo where organizationId = #{organizationId}
    </select>
    <select id="findRoleByUserName" resultType="com.rtst.dhjc.entity.systemInfo.UserRole">
        select r.roleId roleId from sys_userinfo u
                left join sys_user_role  r on r.userId = u.userId
                where u.userName = #{userName}
    </select>
</mapper>
